{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>دوره ها</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

   

  <!-- Sub Header -->


  <!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{% url 'index' %}" class="logo">
                          Stark Team
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="iranf"><a href="{% url 'index' %}" class="active">صفحه نخست</a></li>
                          <li class="iranf"><a href="{% url 'index' %}#courses">دوره ها</a></li>
                          <li class="iranf"><a href="{% url 'index' %}#contact">رزرو مشاوره</a></li>
                          <li class="iranf"><a href="{% url 'index' %}#contact">ارتباط با ما</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->


  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="row grid">
                  {% for i in p %}
                <div class="col-lg-4 templatemo-item-col all">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="{% url 'c' i.name %}"><img src="{{ i.avatar.url }}" alt=""></a>
                    </div>
                    <div class="down-content">
                      <a href="{% url 'c' i.name %}"><h4>{{ i.name }}</h4></a>
                    </div>
                  </div>
                </div>
                    {% endfor %}
              </div>
            </div>
            <div class="col-lg-12">
              <div class="pagination">
                <ul>
                    {% if p.has_previous %}
                  <li><a href="{% url 'co' %}?page={{ p.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                    {% endif %}
                {% for z in x.page_range %}
                  {% if z == no %}
                      <li class="active"><a href="{% url 'co' %}?page={{ z }}">{{ z }}</a></li>
                    {% else %}
                      <li ><a href="{% url 'co' %}?page={{ z }}">{{ z }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if p.has_next %}
                  <li><a href="{% url 'co' %}?page={{ p.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2023 Stark Team. All Rights Reserved.
          <br>Design: Stark Team</p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/video.js' %}"></script>
    <script src="{% static 'js/slick-slider.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
